<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hammoniatexiapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.hammoniatexiapp.Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.hammoniatexiapp.activities.TaxiChatingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hammoniatexiapp.activities.PinLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.PaymentSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.TrackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.NumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.MainStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.DialogMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.hammoniatexiapp.activities.DriverDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.RideDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.RideHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.YourSupportTicketsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.FAQS"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.SupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.AddPromoCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.PromoCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.CardAdded"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.AddCard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.RideCancelationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.SelectDriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.PaymentOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.CancelBooking"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.RideOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hammoniatexiapp.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hammoniatexiapp.MainActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>

        <service android:name="com.hammoniatexiapp.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>